<a href="https://colab.research.google.com/github/Shivaram17/100Days_LeetCode/blob/main/1004LeetCode_Merge_sorted_arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Removing  duplicates
import pandas as pd
data = pd.DataFrame({'k1': ['one','two'] * 3 + ['two'],
                     'k2':[1,1,2,3,3,4,4]})
# finds a duplicate
data.duplicated()
# drop duplicates
data.drop_duplicates()
data['v'] = range(7)
data.drop_duplicates(['k1', 'k2'], keep = 'last')

    k1  k2  v
0  one   1  0
1  two   1  1
2  one   2  2
3  two   3  3
4  one   3  4
6  two   4  6

In [9]:
# merge sorted arrays
class Solution:
    def merge(self, nums1, m, nums2, n):
        """
        Do not return anything, modify nums1 in-place instead.
        """
        # nums1.extend(nums2)
        # n = [i for i in nums1 if i!=0]
        # # print(n)
        # # print(nums1)
        # nums1 = sorted(n)
        # print(nums1)
        # transfer all the 2nd array elements into first array
        for i in range(n):
            nums1[i+n] = nums2[i]
        nums1.sort()
        return nums1


# calling 
nums1 = [1,2,3,0,0,0]
nums2 = [2,5,6]
m = len(nums1)
n = len(nums2)
obj = Solution()
c = obj.merge(nums1, m, nums2, n)
c

[1, 2, 2, 3, 5, 6]