<a href="https://colab.research.google.com/github/Shivaram17/100Days_LeetCode/blob/main/1006LeetCode_ArrayRemoveElement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Transforming data using function or mapping
import pandas as pd
data = pd.DataFrame({
                        'food':['bacon', 'pulled pork', 'bacon', 'pastrami', 'corned beef', 'bacon', 'pastrami', 'honey ham','nova lox'],
                         'ounces':[4,3,16,6,5,7,8,23, 14],
                    })
data
# add a colum called meat_to_animal
meat_to_animal = {
                  'bacon': 'pig',
                   'pulled pork': 'pig',
                   'pastrami': 'cow',
                   'corned beef': 'cow',
                   'honey ham': 'pig',
                   'nova lox': 'salmon',
                   }

# convert food column  to lower case
lowercased = data['food'].str.lower()
lowercased
# mapping 
data['animal_meat'] = data['food'].map(meat_to_animal)
data

          food  ounces animal_meat
0        bacon       4         pig
1  pulled pork       3         pig
2        bacon      16         pig
3     pastrami       6         cow
4  corned beef       5         cow
5        bacon       7         pig
6     pastrami       8         cow
7    honey ham      23         pig
8     nova lox      14      salmon

In [1]:
# leet code Array and remove element
class Solution:
    def removeElement(self, nums, val):
        l = len(nums)
        count = 0
        for i in range(l):
            if nums[i] != val:
                nums[count] = nums[i]
                count +=1
        # c = nums[:k]
        return count

nums = [3,2,2,3]
val = 3
obj = Solution()
obj.removeElement(nums, val)

2